@import "src/assets/styles/main";

.header {
  width: 100%;
  padding: 16px 32px;
  background-color: $oxford-blue;
  color: $white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $platinum;
}
