@import "src/assets/styles/main";

.writing-window {
  width: 100%;
  border-top: 1px solid $platinum;
  background-color: $background-color;
  padding: 8px;
}

.p-inputtext {
  border: none;
  width: 100%;
  background-color: $background-color;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 1rem;
  color: $black;

  &:active,
  &:hover,
  &:focus {
    border: none;
    box-shadow: none;
  }
}
